<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <img src="/img/IMG-20231119-WA0032.jpg" alt="..." style="width: 50px; height: 50px;">
    <a class="navbar-brand" href="#">مدرسة اسمو افنوتي</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="userName">
        <img src="<%= loggedUser.imgURL %>" alt="..." style="width: 50px; height: 50px; border-radius: 50%; box-shadow: 3px 3px 5px 1px rgba(56, 55, 55, 0.756);">
        <h5 style="display: inline-block;"> <%= loggedUser.username %> </h5>
        <p style="text-align: center; margin-top: -22px;"><%= loggedUser.role %></p>
      </div>
    </div>
  </div>
</nav>