<nav class="sideBar col-2">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a href="#" class="nav-link page"> الصفحة الشخصية </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link page"> الحصص </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link page"> الحضور والغياب </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link page"> اخبار المدرسة </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link page"> عن المدرسة</a>
    </li>
  </ul>
</nav>