<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body>
  <center>
    <section class="main">
      <div class="container row">
        <div class="col-5 box">
          <h2>تسجيل الدخول</h2>
          <form action="/login" method="post">
            <label>اسم المستخدم</label>
            <input type="text" name="username">
            <br><br>
            <label> الكود </label>
            <input type="password" name="code">
            <br><br>
            <input type="submit" value="تسجيل الدخول">
          </form>
          <div>
            <a href="#"> مخدوم جديد </a>
          </div>
        </div>
        <div class="col-6">
          <img src="/img/IMG-20231119-WA0032.jpg" alt="...." class="logo">
        </div>
      </div>
    </section>
  </center>
</body>
</html>