<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <center>
    <div class="box row">
      <h2>
        سجل بياناتك
      </h2>
      <hr>
      <center>
        <form action="/waiting/register" method="post" enctype="multipart/form-data" class="register">
          <label>اسمك بالكامل</label>
          <input type="text" name="name" placeholder="دخل اسمك">
          <br><br>
          <label>سنك</label>
          <input type="text" name="age" placeholder="دخل سنك">
          <br><br>
          <label>تاريخ ميلادك</label>
          <input type="text" name="birthDayDate" placeholder="دخل تاريخ ميلادك بالشكل دا يوم/شهر/سنة">
          <br><br>
          <label>العنوان بالتفصيل</label>
          <input type="text" name="address" placeholder="عنوانك بالتفصيل">
          <br><br>
          <label>تاريخ الشموسية</label>
          <input type="text" name="shmosyaDate" placeholder="دخل تاريخ رسامتك بالشكل دا يوم/شهر/سنة">
          <br><br>
          <label>رقم الموبايل</label>
          <input type="text" name="phone" placeholder="رقم الموبايل">
          <br><br>
          <label>رقم الواتساب</label>
          <input type="text" name="whats" placeholder="رقم الواتساب">
          <br><br>
          <label>اب الاعتراف</label>
          <input type="text" name="father" placeholder="اب الاعتراف">
          <br><br>
          <label>فصلك</label>
          <select name="className" placeholder="اختار فصلك من هنا">
            <option selected disabled>--اختار فصلك من هنا--</option>
            <option value=" السمائيين "> السمائيين </option>
            <option value=" ني انجيلوس "> ني انجيلوس </option>
            <option value=" العذراء مريم والملاك ميخائيل"> العذراء مريم والملاك ميخائيل </option>
            <option value=" رؤساء الملائكة "> رؤساء الملائكة </option>
            <option value=" القديسة دميانة و الاربعين عذراء "> القديسة دميانة و الاربعين عذراء </option>
            <option value=" الشاروبيم والسيرافيم "> الشاروبيم والسيرافيم </option>
            <option value=" القديسة اناسيمون والقديسة مريم المصرية "> القديسة اناسيمون والقديسة مريم المصرية </option>
            <option value=" مارجرجس "> مارجرجس </option>
            <option value=" الانبا انطونيوس "> الانبا انطونيوس </option>
            <option value=" قانا الجليل "> قانا الجليل </option>
            <option value=" الشهيد اسطفانوس "> الشهيد اسطفانوس </option>
            <option value=" الطغمات السمائية "> الطغمات السمائية </option>
            <option value=" القديسين بطرس وبولس الرسولان "> القديسين بطرس وبولس الرسولان </option>
          </select>
          <br><br>
          <label>رفع صورتك الشخصية</label>
          <input type="file" name="profileImg">
          <br>
          <p>ملحوظة: لن يتم تغيير صورتك الشخصية لذلك عليك وضع صورة شخصية واضحة</p>
          <br>
          <input type="submit" value="حفظ البيانات">
        </form>
      </center>
    </div>
  </center>
</body>
</html>