<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>
    <%- include('partials/mainNav') %>
      <div class="row">
        <%- include('partials/sideBar') %>
          <div style="display: inline-block;" class="pageContent col-lg-10 row">
            <%= arrlecturesContent %>
          </div>
      </div>
  </body>

</html>