<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <center>
    <div class="container" style="padding-top: 10%;">
      <center>
        <i class="fa-regular fa-circle-check fa-10x" style="color: #1da413;"></i>
        <br><br>
        <h2>
          تم تسجيل بياناتك
        </h2>
        <h3>
          سيتم مراجعة بياناتك في خلال ايام
        </h3>
      </center>
    </div>
  </center>
</body>
</html>